---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <div class="container mx-auto px-4 2xl:px-0 max-w-6xl py-4">
      <slot />
    </div>
  </body>
</html>
